@font-face {
    font-family: "Fixedsys";
    src: url('/fonts/fixedsys.ttf');
}
body {
    margin: 0px;
    overflow: hidden;
    background-image: url(img/background.png);
    background-size: 16px;
    image-rendering: pixelated;
    font-family: "Fixedsys";
    font-size: 20px;
}
#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: text;
}
#ta {
    position: absolute;
    top: -1000px;
    left: -1000px;
}
#chat {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#coords {
    background-color: #abefcd;
    user-select: none;
    width: fit-content;
}
#menu {
    position: absolute;
    top: 0px;
    left: 0px;
}
#done {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#chatbox {
    background-color: lightpink;
    height: 250px;
    word-wrap: break-word;
    overflow: auto;
}
#chatbar {
    width: 300px;
}
button, input[type="text"], input[type="number"] {
    font-family: "Fixedsys";
    font-size: 20px;
    background-color: aqua;
    outline: none;
}